body {
    background-color: #070d0e;
}

.navbar {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    background-color: #12181a;
    border-bottom: 1px solid rgb(255 255 255 / 12%);
    z-index: 1;
}

.navbar-in-left {
    display: flex;
    width: 17%;
    background-color: #12181a;
    height: 100%;
    border-right: 1px solid rgb(255 255 255 / 12%);
    border-bottom: 1px solid rgb(255 255 255 / 12%);
    justify-content: center;
    align-items: center;
}

.navbar-in-left img{
    width: 200px;
}

.navbar-in-center{
    width: 65%;
}

.navbar-in-center .d-flex{
    justify-content: space-between;
    color: rgb(228, 229, 230);
}

.search{
    width: 40%;
}

.search-bar{
    background-color: #252a2c;
    border: none;
}

.search-bar::placeholder{
    color: #e4e5e6;
}

.search-bar:focus {
    background-color: #252a2c;
    border: none;
    box-shadow: none; /* bootstrapning yonadigan soyasini o‘chiradi */
    color: #e4e5e6;
}

/* Iconka qismi */
.input-group-text {
    background-color: #252a2c;
    border: none;
    color: #e4e5e6;
}

.navbar-in-right {
    display: flex;
    width: 16%;
    background-color: #12181a;
    height: 100%;
    border-left: 1px solid rgb(255 255 255 / 12%);
    justify-content: space-between;
    align-items: center;

}

.user-img img{
    border-radius: 50%;
    width: 40px;
    margin-left: 20px;
}

.user-about{
    margin-right: 20px;
}

.user-about p{
    margin: 0;
}

.user-about .user-name{
    color: #e4e5e6;
    font-size: 14px;
}

.user-about .user-role{
    color: #b3b3b3;
    font-size: 13px;
}

.main{

}

.sidebar {
    width: 17%;
    height: 100%;
    position: fixed;
    top: 61px;
    bottom: 0;
    left: 0;
    background-color: #12181a;
    border-right: 1px solid rgb(255 255 255 / 12%);
    z-index: 1;
}

.main-content {
    position: absolute;
    left: 280px;
    right: 30px;
    top: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 60px;
}

.footer {
    color: #fff;
    left: 250px;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-size: 14px;
    background-color: #12181a;
    border-left: 1px solid rgb(255 255 255 / 12%);
    border-top: 1px solid rgb(237 237 237 / 12%);
}

.active{
    background: linear-gradient(to right, #56ccf2, #2f80ed) !important;
}